MEDUSA_SLIPSTREAM_SERVER=https://medusa.evan.engineer:3737
MEDUSA_SLIPSTREAM_NAME=Evan laptop Slipstream worker
MEDUSA_SLIPSTREAM_CAPACITY=4
MEDUSA_SLIPSTREAM_CONCURRENCY=4
MEDUSA_SLIPSTREAM_CPUS=12
MEDUSA_SLIPSTREAM_CPUSET=4-15
MEDUSA_SLIPSTREAM_POLL_SECONDS=5
MEDUSA_SLIPSTREAM_HEARTBEAT_SECONDS=20
MEDUSA_SLIPSTREAM_CHECK_IN_SECONDS=30
MEDUSA_SLIPSTREAM_ENROLLMENT_TOKEN=
