global
  log stdout format raw local0
  maxconn 2048
  tune.ssl.default-dh-param 2048

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5s
  timeout client 60s
  timeout server 60s

frontend medusa_mux
  mode tcp
  bind *:3737
  tcp-request inspect-delay 1s
  acl has_payload req.len gt 0
  acl is_tls req.ssl_hello_type 1
  tcp-request content accept if is_tls
  tcp-request content accept if has_payload !is_tls
  use_backend medusa_tls_loopback if is_tls
  default_backend medusa_http_loopback

backend medusa_tls_loopback
  mode tcp
  server local_tls 127.0.0.1:8443 send-proxy-v2

backend medusa_http_loopback
  mode tcp
  server local_http 127.0.0.1:8080

frontend medusa_https
  mode http
  bind 127.0.0.1:8443 ssl crt /tmp/medusa.pem accept-proxy alpn h2,http/1.1
  option forwardfor
  http-request set-header X-Forwarded-Proto https
  http-request set-header X-Forwarded-Port 3737
  http-request set-header X-Forwarded-Host %[req.hdr(Host)]
  http-response set-header Strict-Transport-Security "max-age=31536000"
  default_backend medusa_frontend

frontend medusa_http_redirect
  mode http
  bind 127.0.0.1:8080
  http-request redirect location https://medusa.home.musial.io:3737%[url] code 301

backend medusa_frontend
  mode http
  option httpchk
  http-check send meth GET uri / hdr Host medusa.home.musial.io:3737
  http-check expect status 200
  server frontend frontend:3737 check

listen medusa_haproxy_stats
  mode http
  bind *:8404
  stats enable
  stats uri /stats
  stats refresh 10s
